<table border="1">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>status</th>
    <th>created_at</th>
  </tr>
  </thead>
  <tbody>
  <% torrent_entities.each do |torrent_entity| %>
    <tr>
      <td><%= torrent_entity.id %></td>
      <td><%= torrent_entity.name %></td>
      <td><%= torrent_entity.status %></td>
      <td><%= torrent_entity.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
