<form action="/torrent_files" method="post">
  <label for="magnet_link">magnet link:</label>
  <input type="text" name="magnet_link" value="magnet:?xt=urn:btih:14ea8deecc33e2750f9c9b0eab70f409f4c362e4">
  <button>submit</button>
</form>
